@font-face {
  font-family: "iconfont"; /* Project id 4109089 */
  src: url('iconfont.woff2?t=1732286564710') format('woff2'),
       url('iconfont.woff?t=1732286564710') format('woff'),
       url('iconfont.ttf?t=1732286564710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-doc-type-sheet:before {
  content: "\e6bd";
}

.icon-ai:before {
  content: "\e622";
}

.icon-zixunzongjie:before {
  content: "\e66b";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e607";
}

.icon-wenda:before {
  content: "\e663";
}

.icon-edit:before {
  content: "\ec17";
}

.icon-wenda1:before {
  content: "\e621";
}

.icon-my-file:before {
  content: "\e692";
}

.icon-file:before {
  content: "\e606";
}

.icon-stars:before {
  content: "\ec7e";
}

.icon-zhinengzhushouX2S:before {
  content: "\ec86";
}

.icon-shengchangmoxing:before {
  content: "\e62d";
}

.icon-tianjia:before {
  content: "\e648";
}

.icon-shangyiyehoutuifanhui:before {
  content: "\e8ef";
}

.icon-xiayiyeqianjinchakangengduo:before {
  content: "\e8f1";
}

.icon-quanping:before {
  content: "\e8fa";
}

.icon-wodefenxiang:before {
  content: "\e605";
}

.icon-wj-jczj:before {
  content: "\e81c";
}

.icon-wendanggeshi:before {
  content: "\e83e";
}

.icon-shenglvehao:before {
  content: "\e708";
}

.icon-table:before {
  content: "\e7de";
}

.icon-jsongeshihua:before {
  content: "\e61a";
}

.icon-yonghuxinxi:before {
  content: "\e61c";
}

.icon-strikethrough:before {
  content: "\e7f9";
}

.icon-italic:before {
  content: "\e7fb";
}

.icon-cuti:before {
  content: "\e6e3";
}

.icon-chexiao_o:before {
  content: "\eb73";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-zhongzuo:before {
  content: "\e604";
}

.icon-cachu:before {
  content: "\e72a";
}

.icon-zitiyanse:before {
  content: "\e65b";
}

.icon-fenxiang:before {
  content: "\e603";
}

.icon-31fanhui1:before {
  content: "\e602";
}

.icon-shouye1:before {
  content: "\e638";
}

.icon-sanjiao:before {
  content: "\e66a";
}

.icon-liulanjilu:before {
  content: "\e630";
}

.icon-zhongzhi:before {
  content: "\e628";
}

.icon-ren-duoren:before {
  content: "\e704";
}

.icon-tianjiarenyuan-1:before {
  content: "\e70b";
}

.icon-xinzengfenzu:before {
  content: "\e65a";
}

.icon-shoucang:before {
  content: "\e611";
}

.icon-newdoc:before {
  content: "\e62a";
}

.icon-xiugaimima:before {
  content: "\e681";
}

.icon-0tuichudenglu-05:before {
  content: "\e63a";
}

.icon-wendangjiami:before {
  content: "\e659";
}

.icon-fuzhilianjie:before {
  content: "\e618";
}

.icon-wendang:before {
  content: "\e66c";
}

.icon-svgqietu_zhuangeshinormal:before {
  content: "\e601";
}

.icon-xinbiaoqianyedakai:before {
  content: "\e62e";
}

.icon-wenjian-wendang:before {
  content: "\e682";
}

.icon-yun_o:before {
  content: "\ebb3";
}

.icon-multilinetext:before {
  content: "\e78c";
}

.icon-shuipingxian:before {
  content: "\e7e2";
}

.icon-wuxuliebiao1:before {
  content: "\e600";
}

.icon-youxuliebiao:before {
  content: "\e67c";
}

.icon-qingchugeshi:before {
  content: "\e6ea";
}

.icon-gaoliang:before {
  content: "\e61f";
}

.icon-zitidaima:before {
  content: "\e60f";
}

.icon-huiche:before {
  content: "\e649";
}

.icon-renwuliebiao:before {
  content: "\e806";
}

.icon-code:before {
  content: "\e615";
}

.icon-i:before {
  content: "\e62f";
}

.icon-S:before {
  content: "\e6f4";
}

.icon-quote:before {
  content: "\e60e";
}

.icon-fanhuichexiao:before {
  content: "\e64c";
}

.icon-B:before {
  content: "\e652";
}

.icon-duanla:before {
  content: "\e641";
}

.icon-h:before {
  content: "\e8ac";
}

.icon-quanbuzhankai:before {
  content: "\e76a";
}

.icon-zhankai:before {
  content: "\e60d";
}

.icon-liebiao:before {
  content: "\e60c";
}

.icon-liebiao1:before {
  content: "\e63e";
}

